.green {
    background-color: #a1f091;
}

.Yellow-green {
    background-color: #f3fd81;
}

.Light-orange {
    background-color: #fdd766;
}

.orange {
    background-color: #FFA001;
}

.pink {
    background-color: #FF6961;
}

.red {
    background-color: #ff3b31;
}

