html,
body,
#react-root {
  height: 100%;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

input {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin: 5px;
  margin-bottom: 10px;
}

.alert {
  padding: 0px 10px 15px;
  background-color: #eaeef1;
  color: #f5811d;
  font-size: 1rem;
}

.Main-content {
  min-height: calc(100vh - 60px);
}

.swal-text {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.swal-button {
  border-radius: 4px;
  background-color: #9c27b0;
  color: white;
  font-size: 0.85rem;
  font-family: 'Quicksand', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
}

.swal-button:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
}

.swal-button:hover {
  background-color: #6D1B7B !important;
}

.swal-modal {
  width: 350px;
}