html,
body,
#react-root {
  height: 100%;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

.alert {
  /* box-sizing: border-box; */
  padding: 0px 10px 15px;
  /* margin: 40px 0; */
  /* border: 2px solid darkgray; */
  background-color: #eaeef1;
  /* border-radius: 3px; */
  color: #f5811d;
  font-size: 1rem;
}

input {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin: 5px;
  margin-bottom: 10px;
}

.swal-text {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.swal-button {
  border-radius: 4px;
  background-color: #9c27b0;
  color: white;
  font-size: 0.85rem;
  font-family: 'Quicksand', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
}

/* .swal-button--danger {
  border-radius: 4px;
  background-color: plum;
  color: white;
  font-size: 0.85rem;
  font-family: 'Quicksand', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
} */

.swal-button:focus { 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
}

.swal-button:hover { 
  background-color: #6D1B7B !important;
}

/* .swal-button--danger:hover {
  background-color: rgb(212, 130, 212) !important;
} */

.swal-modal {
  width: 350px;
}

.Main-content {
  min-height: calc(100vh - 60px);
}

